/* Font Styles Files Uplodding */
/* Font Styles Files Uplodding */
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype");
}
/* Common Styles Start from Here */
html {
  // font-size: 13px;
}
body {
  @include margin(0, 0, 0, 0);
  // @include size(null, 100vh);
   font-family: "AvenirLTSTD-Roman", sans-serif;
  // font-family: AvenirLTStd-Black;
  // background-color: $table-body;
  
}
a {
  text-decoration: none !important;
}
button {
  &:focus,
  &:active {
    outline: none !important; 
    box-shadow: none !important;
  }
}

.AvenirLTStd-BlackOblique {
  font-family: "AvenirLTStd-BlackOblique", sans-serif !important;
}
.AvenirLTStd-BookOblique{
  font-family: "AvenirLTStd-BookOblique", sans-serif !important;
}
.AvenirLTStd-Book {
  font-family: "AvenirLTStd-Book", sans-serif !important;
}
.AvenirLTStd-Heavy{
  font-family: "AvenirLTStd-Heavy", sans-serif !important;
}
.AvenirLTStd-Light{
  font-family: "AvenirLTStd-Light", sans-serif !important;
}
.AvenirLTStd-HeavyOblique{
  font-family: "AvenirLTStd-HeavyOblique", sans-serif !important;
}
.AvenirLTStd-LightOblique{
  font-family: "AvenirLTStd-LightOblique", sans-serif !important;
}
.AvenirLTStd-Medium{
  font-family: "AvenirLTStd-Medium", sans-serif !important;
}
.AvenirLTStd-Oblique{
  font-family: "AvenirLTStd-Oblique", sans-serif !important;
}
.AvenirLTStd-Roman{
  font-family: "AvenirLTStd-Roman", sans-serif !important;
}


ul{
  list-style-type: none;
}