// Color Variables
$white: #ffff;
$black: #000;
$blue:#145194;
$button:#76bd43;
$bottom-text:#145194cc;
$login-text:#cbcbcb;
$setting-icon:rgba(80, 80, 80, 0.8);
$button-background-color: #e4f2d9;
$test-button:#00adf0;
$box-Discrepancy:#a1f863;
$Invalid-Caller-ID:#ff7979;
$table-body:#f7fafc;
$text:#808080;
$red:#ff0000;
$button-bg-color:#e0e3e4;
$btn-light:#e4f2d9;
$black-heading:#050505;
$strip-color:#f1f1f1;
$color-green:#008000;
$color-textdropdown:#dddddd;

// Border Colors Variables#e0e3e4

// Meadia Variables
$screen-lg: 1200px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 580px;
$screen-xxs: 365px;
$scree-size-xs:420px;
