/*  Mixin For Position */
/* Mixin For Padding */
/* Mixin For Margin */
/* Mixin For Size */
/* Mixin For Transition */
/* Mixin For Transform */
/* Mixin For Translate */
/* Mixin For Skew */
/* user Select */
/* Font Styles Files Uplodding */
/* Font Styles Files Uplodding */
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype"); }

/* Common Styles Start from Here */
body {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: "AvenirLTSTD-Roman", sans-serif; }

a {
  text-decoration: none !important; }

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important; }

.AvenirLTStd-BlackOblique {
  font-family: "AvenirLTStd-BlackOblique", sans-serif !important; }

.AvenirLTStd-BookOblique {
  font-family: "AvenirLTStd-BookOblique", sans-serif !important; }

.AvenirLTStd-Book {
  font-family: "AvenirLTStd-Book", sans-serif !important; }

.AvenirLTStd-Heavy {
  font-family: "AvenirLTStd-Heavy", sans-serif !important; }

.AvenirLTStd-Light {
  font-family: "AvenirLTStd-Light", sans-serif !important; }

.AvenirLTStd-HeavyOblique {
  font-family: "AvenirLTStd-HeavyOblique", sans-serif !important; }

.AvenirLTStd-LightOblique {
  font-family: "AvenirLTStd-LightOblique", sans-serif !important; }

.AvenirLTStd-Medium {
  font-family: "AvenirLTStd-Medium", sans-serif !important; }

.AvenirLTStd-Oblique {
  font-family: "AvenirLTStd-Oblique", sans-serif !important; }

.AvenirLTStd-Roman {
  font-family: "AvenirLTStd-Roman", sans-serif !important; }

ul {
  list-style-type: none; }

.container-inner {
  max-width: 1336px;
  margin: 0px auto; }

.navbar-wrapper .navbar-inner {
  margin: 0 43px;
  height: 70px;
  background-color: #ffff; }
  .navbar-wrapper .navbar-inner li a {
    padding: 0 15px;
    font-size: 15px;
    color: #6f8ba4; }
    .navbar-wrapper .navbar-inner li a:hover {
      color: #3a2cc2; }
  .navbar-wrapper .navbar-inner li .active {
    color: #3a2cc2; }
  .navbar-wrapper .navbar-inner .getstarted-btn {
    width: 122px;
    height: 40px;
    filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.16));
    background-color: #3a2cc2;
    margin-left: 20px;
    padding: 2px 6px; }
    .navbar-wrapper .navbar-inner .getstarted-btn a {
      font-size: 15px;
      color: #ffffff;
      font-weight: 500; }

.logo a {
  color: #6f8ba4; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown-menu.show {
  width: 100px;
  height: 80px;
  border-radius: 3px;
  filter: drop-shadow(0px 2px 4.5px rgba(0, 0, 0, 0.16));
  background-color: #ffffff; }
  .dropdown-menu.show a.dropdown-item {
    font-size: 15px;
    color: #6f8ba4;
    font-family: "Avenir LT Std";
    padding-bottom: 10px; }

.navbar-toggler-icon {
  display: none !important; }

@media (max-width: 991px) {
  .navbar-inner {
    margin: 0 10px !important; }
  .logo-inner {
    width: 100%;
    height: 60px;
    align-items: center; }
  .collapse ul {
    display: block; }
  .navbar-inner {
    display: block; }
  .navbar-toggler-icon {
    display: block !important; } }

.dropdown-menu::before {
  display: inline-block;
  width: 0;
  height: 0;
  top: 0;
  margin-top: -10px;
  margin-left: 8px;
  vertical-align: 0;
  content: "";
  border-top: 0;
  border-right: 0.6em solid transparent;
  border-bottom: 0.6em solid;
  border-left: 0.6em solid transparent;
  position: absolute;
  color: white; }

.dropdown-menu.show {
  top: 39px !important;
  left: 15px !important; }

.dropdown-toggle::after {
  display: none; }

.visual-firm {
  background-image: url("../images/main.png");
  height: 500px;
  min-width: 420px; }
  .visual-firm p {
    font-size: 40px;
    line-height: 24px;
    color: #f1f1f1;
    font-family: "Avenir LT Std";
    text-align: center;
    top: 34%;
    position: absolute;
    left: 26%; }
  .visual-firm h3 {
    font-size: 50px;
    position: absolute;
    left: 33%;
    line-height: 24px;
    color: #ffffff;
    font-family: "Avenir LT Std";
    text-align: center;
    top: 43%;
    font-weight: bold; }
  .visual-firm .btn-firm {
    font-size: 18px;
    line-height: 24px;
    color: #3a2cc2;
    font-family: "Avenir LT Std";
    font-weight: 500;
    text-align: center; }
    .visual-firm .btn-firm .btn {
      color: #3a2cc2;
      position: absolute;
      top: 56%;
      left: 44%;
      background: white;
      border: 0;
      padding: 17px 68px 18px 69px;
      box-sizing: none;
      outline: none;
      font-size: 18px;
      border-radius: 0; }

.carousel {
  margin-top: 50px; }

.carousel-inner {
  height: 100px; }
  .carousel-inner .carousel-caption {
    top: 50%;
    font-size: 28px;
    color: #3b566e;
    font-family: "Avenir LT Std";
    font-weight: 500;
    text-align: center; }

.dot {
  cursor: pointer;
  height: 3px;
  width: 20px;
  margin: 0 2px;
  background-color: #3a2cc2;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.2s ease;
  margin-bottom: 17px; }

.dot-icon {
  cursor: pointer;
  height: 3px;
  width: 35px;
  margin: 0 2px;
  background-color: #3a2cc2;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.2s ease;
  margin-bottom: 17px; }

@media (max-width: 991px) {
  li.nav-item {
    margin: 10px; }
  ul.nav.align-items-center {
    width: 420px;
    height: 236px;
    filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.16));
    background-color: #ffffff; } }

@media (max-width: 991px) {
  .visual-firm p {
    font-size: 30px;
    top: 54%; }
  .visual-firm h3 {
    font-size: 40px;
    top: 72%;
    left: 28%; }
  .visual-firm .btn-firm .btn {
    top: 96%; } }

@media (max-width: 767px) {
  .visual-firm p {
    font-size: 25px;
    top: 58%;
    left: 21%; }
  .visual-firm h3 {
    font-size: 35px;
    top: 73%;
    left: 22%; }
  .visual-firm .btn-firm .btn {
    left: 33%; } }

@media (max-width: 580px) {
  .visual-firm p {
    font-size: 18px;
    top: 40%;
    left: 13%; }
  .visual-firm h3 {
    font-size: 25px;
    left: 59px;
    top: 55%; }
  .visual-firm .btn-firm .btn {
    left: 27%;
    top: 65%; } }

.underline {
  position: relative;
  margin: 3px; }
  .underline:hover:after, .underline:focus:after, .underline:active:after {
    width: 40%; }
  .underline:after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: -6px;
    height: 4px;
    transition: width .25s;
    margin: 0 auto;
    border-bottom: 2px solid #3a2cc2; }

.row {
  padding: 20px; }
  .row .card {
    margin-bottom: 2rem;
    border: 0;
    width: 380px;
    text-align: center; }
    .row .card .card-body {
      padding: 10px 7px; }
      .row .card .card-body .img-firm {
        padding: 12px 10px 30px 10px; }
      .row .card .card-body img.img-fluid.img-wrapper {
        padding: 10px 9px 13px 10px; }
      .row .card .card-body .card-title {
        font-size: 22px;
        color: #3b566e;
        font-family: "Avenir LT Std";
        font-weight: 500;
        text-align: center; }
      .row .card .card-body .card-subtitle {
        font-size: 16px;
        line-height: 24px;
        color: #888888;
        font-family: "Avenir LT Std";
        font-weight: 300;
        text-align: center; }
      .row .card .card-body .button {
        font-size: 18px;
        color: #ffffff;
        font-family: "Avenir LT Std";
        font-weight: 500;
        text-align: center;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: 600;
        filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.16));
        background-color: #3a2cc2;
        color: #3a2cc2;
        background-color: white;
        border: 2px solid #3a2cc2; }
      .row .card .card-body .button:hover {
        color: white;
        background-color: #3a2cc2; }

@media (max-width: 767px) {
  .collapse.show a.active {
    font-size: 16px;
    color: #6f8ba4;
    font-family: "Avenir LT Std";
    text-align: center; }
  .collapse.show a {
    font-size: 16px;
    color: #6f8ba4;
    font-family: "Avenir LT Std";
    text-align: center; }
  .collapse.show li.nav-item.getstarted-btn.d-flex.align-items-center {
    background: none; }
  .visual-firm {
    max-height: 235px; } }

.logo a {
  font-weight: 600; }

@media (max-width: 1440px) {
  div#navbarSupportedContent .contact-firm {
    display: none; } }

@media (max-width: 580px) {
  div#navbarSupportedContent .contact-firm {
    display: block; } }

@media (max-width: 365px) {
  .visual-firm p {
    font-size: 15px;
    top: 43%;
    left: 17%; }
  .visual-firm h3 {
    font-size: 20px;
    left: 68px;
    top: 54%; }
  .visual-firm .btn-firm .btn {
    top: 69%;
    left: 30%;
    font-size: 16px;
    line-height: 24px;
    color: #3a2cc2;
    font-family: "Avenir LT Std";
    font-weight: 500;
    text-align: center;
    width: 160px;
    height: 40px;
    filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.16));
    background-color: #ffffff;
    padding: 20px;
    padding-top: 9px; } }

@media (max-width: 420px) {
  .visual-firm .btn-firm .btn {
    top: 71%;
    left: 30%;
    font-size: 16px;
    line-height: 24px;
    color: #3a2cc2;
    font-family: "Avenir LT Std";
    font-weight: 500;
    text-align: center;
    width: 160px !important;
    height: 40px !important;
    filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.16));
    background-color: #ffffff;
    padding: 20px;
    padding-top: 9px; }
  .font-wrapper.d-flex.align-items-center {
    margin-right: -13px; } }

@media (max-width: 580px) {
  .visual-firm p {
    font-size: 16px;
    top: 43%;
    left: 13%; } }

@media (max-width: 580px) {
  .navbar-wrapper .navbar-inner .getstarted-btn a {
    display: none; }
  div#navbarSupportedContent {
    position: absolute;
    top: 60px;
    z-index: 99;
    left: 0; } }

@media (max-width: 580px) {
  .navbar-wrapper .navbar-inner li a .login-wrapper a {
    display: none; }
  .font-wrapper.d-flex.align-items-center {
    margin-right: -92px; }
  ul.nav.align-items-center {
    padding: 10px; }
  .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    transform: rotate(180deg); } }

@media (max-width: 1440px) {
  .lock-firm {
    display: none; }
  .lock-firm {
    display: none; }
  li.nav-item.underline.Login-wrapper {
    display: block; }
  img.img-fluid.menu-logo {
    display: none; } }

@media (max-width: 991px) {
  .lock-firm {
    display: block; }
  .lock-firm {
    display: block; }
  .font-wrapper.d-flex.align-items-center {
    margin-right: -32px; }
  li.nav-item.underline.Login-wrapper {
    display: none; }
  img.img-fluid.menu-logo {
    display: block; } }

button.navbar-toggler.navbar-light {
  padding: 3px; }

i.fa.fa-lock {
  color: #3b5662;
  font-size: 22px; }

i.fa.fa-user {
  color: #3b5662;
  font-size: 22px; }

.trades-wrapper .trades-inner-wrapper {
  font-size: 28px;
  color: #3b566e;
  font-weight: 500;
  text-align: center;
  padding-top: 60px;
  margin: 0 auto;
  width: 900px; }

.trades-wrapper .border-firm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  margin: 0 auto;
  padding: 20px 0 25px 0; }
  .trades-wrapper .border-firm .border-firm1 {
    width: 18px;
    height: 4px;
    border-radius: 2px;
    background-color: #3a2cc2;
    display: flex; }
  .trades-wrapper .border-firm .border-firm2 {
    width: 58px;
    height: 4px;
    border-radius: 2px;
    background-color: #3a2cc2;
    display: flex; }

.novice-wrapper {
  background-color: #f9f9f9;
  padding-bottom: 55px; }
  .novice-wrapper .trades-inner {
    font-size: 28px;
    color: #3b566e;
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
    margin: 0 auto;
    width: 900px; }
  .novice-wrapper .border-firm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    margin: 0 auto;
    padding: 20px 0 25px 0; }
    .novice-wrapper .border-firm .border-firm1 {
      width: 18px;
      height: 4px;
      border-radius: 2px;
      background-color: #3a2cc2;
      display: flex; }
    .novice-wrapper .border-firm .border-firm2 {
      width: 58px;
      height: 4px;
      border-radius: 2px;
      background-color: #3a2cc2;
      display: flex; }

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  /* margin-left: .255em; */
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  margin-left: -4px !important;
  vertical-align: middle !important; }

.novice-wrapper .card-wrapper {
  padding-top: 20px;
  background-color: #f9f9f9; }
  .novice-wrapper .card-wrapper .tradeoff-wrapper {
    border: none;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9; }
  .novice-wrapper .card-wrapper .group-firm .robust-img {
    width: 80px;
    height: 80px; }
  .novice-wrapper .card-wrapper .card-body .heading-text {
    margin: 0 auto;
    height: 52px;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #3b566e; }
  .novice-wrapper .card-wrapper .card-body .paragraph-text {
    margin-bottom: 20px;
    height: 52px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
    margin-top: 15px !important;
    width: 290px;
    height: 93px;
    font-size: 16px;
    line-height: 24px;
    color: #a6a6a6;
    font-family: "Avenir LT Std";
    text-align: center; }

.container-firm {
  background-image: url("../images/main.png");
  background-size: cover;
  width: 100%;
  height: 540px; }
  .container-firm .visual-inner-firm {
    margin-bottom: 40px; }
    .container-firm .visual-inner-firm .visual-text-firm {
      font-size: 40px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.5;
      letter-spacing: normal;
      text-align: center;
      color: #f1f1f1; }
    .container-firm .visual-inner-firm .visual-text-firm1 {
      font-size: 50px;
      line-height: 24px;
      color: #ffffff;
      text-align: center;
      margin: 42px 0 50px 0; }
  .container-firm .get-btn a {
    font-size: 18px;
    color: #3a2cc2;
    font-weight: 500;
    width: 200px;
    height: 43px;
    filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.16));
    background-color: #ffffff;
    margin-left: 26px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 767px) {
  .container-firm {
    height: 240px; }
    .container-firm .visual-inner-firm .visual-text-firm {
      font-size: 23px !important; }
    .container-firm .visual-inner-firm .visual-text-firm1 {
      font-size: 30px !important;
      margin: 15px 0 30px 0 !important; } }

@media (max-width: 420px) {
  .container-firm .visual-inner-firm .visual-text-firm {
    font-size: 22px !important; } }

@media (max-width: 991px) {
  .font-wrapper.d-flex.align-items-center {
    margin-right: -16px; } }

.card-wrapper .card .card-body .head-text {
  font-size: 18px;
  line-height: 24px;
  color: #3b566e;
  font-family: "Avenir LT Std"; }

.card-wrapper .card .card-body .dummy-firm {
  font-size: 15px;
  color: #888888;
  font-family: "Avenir LT Std"; }

.card-wrapper .card .card-body .dummy-wrapper {
  width: 305px;
  height: 97px;
  font-size: 14px;
  line-height: 24px;
  color: #3b566e;
  font-family: "Avenir LT Std";
  font-weight: 300; }

.card-wrapper .card .card-body .button-more {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Avenir LT Std";
  font-weight: 500;
  width: 180px;
  height: 50px;
  filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.16));
  background-color: #3a2cc2;
  border: 0;
  box-shadow: none; }

.collapse-header {
  width: 650px;
  height: 50px;
  opacity: 0.15;
  border-radius: 5px;
  border: solid 1px #3b566e;
  background-color: #f9f9f9; }

.enable-firm {
  width: 574px;
  height: 90px;
  font-family: AvenirLTStd;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #3b566e; }

.get-row {
  padding: 60px 0; }
  .get-row .get-img {
    width: 320px;
    height: 320px;
    margin: 0px auto !important; }
  .get-row .get-input {
    height: 515px;
    box-shadow: 0 1px 2px 0 var(--black-16);
    background-color: #f9f9f9;
    padding: 50px 20px; }
    .get-row .get-input .input-group input {
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: #888888;
      background-color: rgba(59, 86, 110, 0.1);
      outline: none;
      border: none;
      border: none;
      margin-bottom: 20px;
      padding: 14px 20px;
      width: 600px;
      height: 45px;
      font-size: 15px; }
    .get-row .get-input .input-group textarea {
      width: 600px;
      height: 150px;
      color: #888888;
      background-color: rgba(59, 86, 110, 0.1);
      resize: none;
      margin-bottom: 20px;
      border: none;
      padding: 14px 20px; }
  .get-row .button-more {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Avenir LT Std";
    font-weight: 500;
    width: 180px;
    height: 50px;
    filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.16));
    background-color: #3a2cc2;
    border: 0;
    box-shadow: none; }

.accordion-toggle:after {
  font-family: 'FontAwesome';
  content: "\f078";
  float: right; }

.accordion-opened .accordion-toggle:after {
  content: "\f054"; }

.accordion .accordion-group {
  width: 650px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #3b566e;
  background-color: #f9f9f9;
  margin-bottom: 20px; }
  .accordion .accordion-group .accordion-heading {
    font-family: AvenirLTStd-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #3b566e;
    margin-bottom: 30px; }
  .accordion .accordion-group .accordion-body {
    width: 650px;
    height: 160px;
    border-radius: 5px;
    border: solid 1px #3a2cc2;
    background-color: #f9f9f9; }
    .accordion .accordion-group .accordion-body .accordion-inner {
      width: 574px;
      height: 90px;
      font-family: AvenirLTStd;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #3b566e; }

footer {
  background-color: #000000; }
  footer .explore-wrapper {
    padding: 43px 0 0 30px; }
    footer .explore-wrapper .row .footer-firm .footer-logo {
      padding-bottom: 30px; }
      footer .explore-wrapper .row .footer-firm .footer-logo span {
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: center;
        color: #6f8ba4;
        padding-left: 5px; }
    footer .explore-wrapper .row .footer-firm .footer-visual-text {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #6f8ba4;
      padding-bottom: 30px; }
    footer .explore-wrapper .footer-another-text .row .footer-list-items .list-heading {
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: left;
      color: #f7fafd; }
    footer .explore-wrapper .footer-another-text .row .footer-list-items .footer-list-items {
      list-style: none;
      padding: 0; }
    footer .explore-wrapper .footer-another-text .row .footer-list-items .footer-list-inner {
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      cursor: pointer;
      text-align: left;
      color: #6f8ba4;
      padding: 10px 15px;
      position: relative;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal; }
    footer .explore-wrapper .footer-another-text .row .footer-list-items .footer-list-inner:before {
      content: '';
      position: absolute;
      top: 18px;
      left: -10px;
      /* right: 0; */
      /* margin: 0 auto;
                            /* width: 0; */
      /* height: 0px; */
      color: #6f8ba4;
      margin-left: 9px;
      border-top: solid 6px #6f8ba4;
      border-left: solid 6px transparent;
      border-right: solid 6px transparent;
      transform: rotate(270deg); }
    footer .explore-wrapper .footer-another-text .row .footer-list-items .address-list {
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #6f8ba4;
      cursor: pointer;
      padding: 10px 0px;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal; }
      footer .explore-wrapper .footer-another-text .row .footer-list-items .address-list a {
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #6f8ba4;
        cursor: pointer;
        padding: 10px 0px;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal; }

.footer-border-inner {
  width: 95%;
  height: 1px;
  background-color: rgba(111, 139, 164, 0.2);
  margin: 0 auto; }

.footer-content p {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #6f8ba4;
  padding: 15px 45px;
  margin: 0; }

a.accordion-toggle {
  color: #3b566e;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin: 10px; }

@media (max-width: 991px) {
  .accordion-group {
    width: 535px !important; }
  .accordion-body {
    max-width: 360px; } }

@media (max-width: 767px) {
  .accordion-group {
    width: 450px !important; }
  .accordion-body {
    max-width: 360px; } }

@media (max-width: 580px) {
  .accordion-group {
    width: 350px !important; }
  .accordion-body {
    max-width: 360px; } }

@media (max-width: 365px) {
  .accordion-group {
    width: 350px !important; }
  .accordion-body {
    max-width: 360px; } }

@media (max-width: 580px) {
  .accordion .accordion-group .accordion-body .accordion-inner {
    width: 367px;
    height: 39px; } }

@media (max-width: 767px) {
  button.button-more.d-flex.justify-content-center.align-items-center {
    display: none !important; } }

button#myBtn {
  border: 0;
  background: 0; }

button#Btn {
  border: 0;
  background: 0; }
